@use 'common/variables';
@use 'common/mixin';

.contact-box {
    border-radius: var(--r);
    padding: mixin.rem(40px) mixin.rem(60px);
    background: #F0F0F0;

    &__ttl {
        font-size: mixin.rem(32px);
        font-weight: 700;
        color: #36A158;
        line-height: 1.2;
        text-align: center;
    }
}

.contact-form {
    margin-top: mixin.rem(40px);
}

.contact-flex {
    display: flex;
    row-gap: mixin.rem(30px);
    margin: 0 mixin.rem(016px);
}

.contact-left,
.contact-right {
    width: 50%;
    padding: 0 mixin.rem(16px);
}