@use "../common/mixin";
@use "../common/variables";

/* ---------- HEADER ---------- */
.l-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--color-white);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid var(--line);
    z-index: 999;

    &__wrap {
        display: flex;
        align-items: center;
        gap: mixin.rem(16px);
        padding: mixin.rem(16px);
        
        @include mixin.mq('md', min) {
            gap: mixin.rem(32px);
            padding: 0 mixin.rem(24px);
        }
    }

    &__nav {
        @include mixin.mq('md', min) {
            margin-left: auto;
        }
        
        @include mixin.mq('md') {
            background-color: var(--color-white);
            width: 100%;
            height: 100svh;
            position: fixed;
            top: 100%;
            left: 0;
            bottom: 0;
            overflow: auto;
            padding: mixin.rem(24px);
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-110%);
            transition: all 0.3s linear;
            
            &.is-show {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    
    &__logo {
        display: flex;
        align-items: center;
        gap: mixin.rem(8px);
        font-family: "Roboto";
        font-weight: 800;
        font-size: mixin.rem(12px);
        
        @include mixin.mq('md', min) {
            font-size: mixin.rem(14px);
        }

        img {
            width: mixin.rem(40px);

            @include mixin.mq('md', min) {
                width: mixin.rem(60px);
            }
        }

        span {
            font-size: mixin.rem(12px);

            small {
                color: var(--slate);
                display: block;
                font-size: 80%;
                font-weight: 500;
                letter-spacing: .18em;
                text-transform: uppercase;
            }
        }
    }

    &__lang {
        display: flex;
        gap: mixin.rem(6px);
        font-size: mixin.rem(10px);
        font-weight: 600;
        color: var(--slate);

        @include mixin.mq('md', min) {
            font-size: mixin.rem(14px);
        }

        a {
            transition: color .3s ease;
        }

        a.on,
        a:hover {
            color: var(--magenta)
        }

        @include mixin.mq('md') {
            margin-left: auto;
        }
    }
}

.gl-nav {
    display: flex;
    gap: mixin.rem(16px);
    flex-direction: column;
    
    @include mixin.mq('md', min) {
        align-items: center;
        gap: mixin.rem(32px);
        flex-direction: row;
    }

    &__item {
        position: relative;
        
        @include mixin.mq('md', min) {
            padding-block: mixin.rem(24px) mixin.rem(20px);
        }

        &.hasChild {
            @include mixin.mq('md', min) {
                &:hover {
                    .gl-nav__child {
                        opacity: 1;
                        visibility: visible;
                        -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }

    &__link {
        display: block;
        font-size: mixin.rem(16px);
        position: relative;
        color: var(--ink);

        @include mixin.mq('md', min) {
            padding-bottom: mixin.rem(4px);

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: var(--grad);
                transition: width .25s
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__arrow {
        width: mixin.rem(25px);
        height: mixin.rem(25px);
        cursor: pointer;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0;
        right: 0;

        @include mixin.mq('md', min) {
            pointer-events: none;
            top: 50%;
            transform: translateY(-50%);
            width: mixin.rem(10px);
            height: mixin.rem(16px);
            right: mixin.rem(-16px);
        }

        &::before {
            content: "";
            background: url('../images/icon_arrow.svg') no-repeat center / contain;
            width: mixin.rem(10px);
            height: mixin.rem(16px);
        }
    }

    &__child {
        display: none;

        @include mixin.mq('md', min) {
            display: block !important;
            position: absolute;
            top: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
            transform: translate(0, -5px);
        }

        &-wrap {
            display: flex;
            gap: mixin.rem(8px);
            flex-direction: column;
            padding: mixin.rem(16px);

            @include mixin.mq('md', min) {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                background: #F9FAFA;
                border-radius: mixin.rem(4px);
                padding: mixin.rem(16px);
                width: mixin.rem(200px);
                background: white;
                box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03); 
            }
        }

        &-link {
            font-size: mixin.rem(15px);
            padding-bottom: mixin.rem(5px);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: var(--grad);
                transition: width .25s
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;

    @include mixin.mq('md', min) {
        display: none;
    }
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: mixin.rem(32px);
    height: mixin.rem(24px);
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: mixin.rem(-2px);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: mixin.rem(32px);
    height: mixin.rem(2px);
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: var(--slate);
}

.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner:before {
    top: mixin.rem(-8px);
}

.hamburger--collapse .hamburger-inner:before {
    transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
}

.hamburger-inner:after {
    bottom: mixin.rem(-8px);
}

.hamburger--collapse .hamburger-inner:after {
    top: mixin.rem(-16px);
    transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .13s;
}

.hamburger--collapse.is-active .hamburger-inner {
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--collapse.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
    transform: rotate(-90deg);
}

.hamburger--collapse.is-active .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s linear .22s;
    opacity: 0;
}