.ser-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 768px) {
  .ser-flex {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .ser-flex--reverse {
    flex-direction: row-reverse;
  }
}
.ser-flex:not(:last-child) {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .ser-flex:not(:last-child) {
    margin-bottom: 8rem;
  }
}

.ser-media {
  position: relative;
  border-radius: var(--r);
  width: 50%;
  overflow: hidden;
  min-height: 30rem;
}

.ser-content {
  width: 50%;
  padding: 0 2rem 0;
}
@media (max-width: 767px) {
  .ser-content {
    padding-top: 2.4rem;
  }
}

.ser-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ser-img img {
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ser-ttl {
  color: var(--brand-magenta);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

.ser-desc {
  margin-bottom: 1.8rem;
}

.ser-list {
  list-style: none;
  display: grid;
  gap: 0.8rem;
}

.ser-list li {
  display: flex;
  gap: 1.2rem;
  font-weight: 500;
}

.ser-list .dot {
  flex: none;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--grad);
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 0.7rem;
  margin-top: 0.3rem;
}